@inject ILlamadosService LlamadosService
@inject NavigationManager navigationManager
@page "/LlamadosGenerales"

@if (LlamadosService.Llamados is not null)
{
	<div class="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="card shadow-lg border-0 rounded-lg mt-5">

						@foreach (LlamadoDTO l in LlamadosService.Llamados)
						{
							<div class="card-header"><h3 class="text-center font-weight-light my-4">Origen del llamado: </h3>@l.OrigenLlamado.ToString()</div>
							<div class="card-body">
								Tipo de llamado: @l.TipoLlamado.ToString()
								Atendido: @l.Atendido
								Fecha y hora de origen: @l.FechaHora
								Fecha y hora de atendido: @l.HoraAtendido
								Zona: @l.Zona
								Paciente: @l.Paciente
								Quien atendio: @l.Personal
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

}

@code {
	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrWhiteSpace(LogIn.Token))
		{
			navigationManager.NavigateTo("/Logueo");
		}
		else
		{
			await LlamadosService.RefreshDataAsync();
			StateHasChanged();
		}
	}
}